  
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  font-family: "Consolas";
}

h1 {
	font-size: 30px;
	color: black;
	font-weight: 550;
}

h2 {
	font-size: 18px;
	color: black;
	font-weight: lighter;
}

p { 
	writing-mode: tb-rl;
	display: inline-block;
	text-align: left;
  color: black;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 10px;
}

.buttonArea {
  width: 50%;
  float: right;
}

.info {
  font-size: 20px;
  padding-left: 5px;
  border-radius: 15px;
}
.customButton {
    background-color: rgba(204, 7, 33, 0.897);
    border: none;
    color: black;
    width: 200px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: consolas;
    font-weight: bolder;
}

.customButton2 {
    background-color: rgba(7, 204, 7, 0.897);
    border: none;
    color: black;
    width: 200px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: consolas;
    font-weight: bolder;
}

.customButton3 {
    background-color: rgba(197, 7, 204, 0.897);
    border: none;
    color: black;
    width: 200px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: consolas;
    font-weight: bolder;
}

.customButton4 {
    background-color: rgba(94, 66, 255, 0.897);
    border: none;
    color: black;
    width: 200px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: consolas;
    font-weight: bolder;
}

.dropdownButton {
	background-color: #040409;
    border: none;
    color: white;
    width: 200px;
    height: 80px;
}

.dropdownButtonItem {
	background-color: #040409;
    border: none;
    color: white;
    width: 150px;
    height: 45px;
    opacity: 0.8;
    transition: opacity .9s;
}

.dropdownButtonItem:hover {
	opacity: 0.98;
	border-style: inset;
	border-width: 1px;
	border-color: white;
}


#onTop {
  position: absolute;
}


.ReactModal__Overlay {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
}

.ReactModal__Content {
    position: absolute;
    left: 2.5rem;
    right: 2.5rem;
    top: 2.5rem;
    bottom: 2.5rem;
    height: 600px;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-transform: translate(-50,-50%);
    transform: translate(-50,-50%);
    box-shadow: 0 0 10px 0 rgba(0,0,97,0.5);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px 50px 50px 20px;
}




/* ''; */